/*Desktop*/
* {box-sizing: border-box;
   margin: 0;
   padding: 0;}
 header, nav, main, footer {display: block;}
 body {overflow-x: hidden;}
 #wrapper{width: 80%; min-width: 1024px; max-width:1600px;
          margin: 0 auto 0 auto;}
#skip {position:absolute;
       left:-10000px;
       top:auto;
       width:1px;
       height:1px;
       overflow:hidden;}
#skip:focus {position:static;
             width:auto;
             height:auto;}
header h1 {text-align: center;}
main {display: flex;
      flex-direction: row;}
main ul {list-style-type: none;}
main a {text-decoration: none;
        margin: 10px 0;}
footer {text-align: center;}
footer p {}
footer time {}
footer address {}